@model Neshagostar.WebUI.Areas.Commerce.Models.OrdersRelated.OrderBag

@{
    ViewBag.Title = "Add";
}



<link href="~/Content/jquery-ui.css" rel="stylesheet">
<script src="~/Scripts/jquery-ui.js"></script>

<script src="~/Scripts/NeshagostarScripts/Commerce/OrdersRelated/AddOrder.js" type="text/javascript">

</script>

<h2 style="padding-right:0px;margin-bottom:2%">اضافه کردن آیتم سفارش</h2>
<script>
    var productId = "@Model.ProductId";
    var productName = "@Model.ProductName";
    var orderId = "@Model.OrderId";
    collectProductHasBeenChosenBefore(orderId);
</script>

@using (Html.BeginForm("Add", "Orders", new { area = "commerce" }, FormMethod.Post, null))
{
    @Html.AntiForgeryToken()
    <div>
        @Html.Hidden("customerId", null, new { id = "customerId" })
        @Html.Hidden("OrderId", null, new { id = "OrderId" })
        <div class="col-md-12 well" style="padding-left:30px;">
            <div class="form-group">
                <div class="col-md-4">
                    @Html.Label("نام خریدار", htmlAttributes: new { @class = "control-label col-md-4", style = "text-align:center;padding-top:5px" })
                    <div>
                        @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control", dir = "rtl", id = "customer_name", style = "width:50%;", @readonly = "true" } })
                    </div>

                </div>
                <div class="col-md-4">
                    @Html.Label("شماره تماس", htmlAttributes: new { @class = "control-label col-md-4", style = "text-align:center;;padding-top:5px" })
                    @Html.EditorFor(model => model.CustomerTel, new { htmlAttributes = new { @class = "form-control", dir = "rtl", id = "customer_tel", style = "width:50%;", @readonly = "true" } })
                </div>
                <div class="col-md-4">
                    @Html.Label("محل تماس", htmlAttributes: new { @class = "control-label col-md-4", style = "text-align:center;;padding-top:5px" })
                    @Html.EditorFor(model => model.CustomerCity, new { htmlAttributes = new { @class = "form-control", dir = "rtl", id = "customer_address", style = "width:50%;", @readonly = "true" } })
                </div>

            </div>
        </div>
    </div>

    <div>

        <div class="col-md-12 well">
            <div class="form-group" style="margin:0px;">
                <div class="col-md-5" style="padding:0%;">
                    @Html.Hidden("ProductId", null, new { id = "productId" })

                    @Html.Label("نوع محصول", htmlAttributes: new { @class = "control-label col-md-3", style = "text-align:center;margin-top:5px;" })
                    @Html.TextBox("ProductName", null, htmlAttributes: new { @class = "form-control col-md-7", onclick = "popUpProducts()", placeholder = "نوع محصول", style = "width:70%;text-align:center;margin:0%;", id = "productName" })

                </div>

                <div class="col-md-3" style="padding:0%;margin:0px;">
                    @Html.Label("مقدار", htmlAttributes: new { @class = "control-label col-md-2", style = "margin-top:5px;" })
                    @Html.TextBox("Amount", null, htmlAttributes: new { @class = "form-control col-md-9", placeholder = "مقدار", style = "text-align:center;width:65%;", id = "amount", onkeyup = "calculateTotalWeight()" })
                </div>
                <div class="col-md-3" style="padding:0%;">
                    @Html.Label("قیمت به ازای واحد", htmlAttributes: new { @class = "control-label col-md-5", style = "margin-top:5px;" })
                    @Html.TextBox("PricePerUnit", null, new { @class = "form-control col-md-7", dir = "rtl", id = "pricePerUnit", placeholder = "قیمت به ازای واحد", style = "text-align:center;width:50%;" })
                </div>




            </div>
        </div>
    </div>

    <div>
        <div class="col-md-12 well">
            <div class="form-group">
                <div class="col-md-3">
                    @Html.Label("وزن در واحد ", htmlAttributes: new { @class = "control-label col-md-4", style = "margin-top:5px;" })
                    @Html.TextBox("nominalWeightPerMeter", null, htmlAttributes: new { @class = "form-control col-md-5", id = "nominalWeightPerMeter", placeholder = "وزن به ازای هر واحد", style = "width:50%;text-align:center;", onkeyup = "calculateTotalWeight()" })
                </div>
                <div class="col-md-3">
                    @Html.Label("مجموع وزن :", htmlAttributes: new { @class = "control-label col-md-4", style = "margin-top:5px;" })
                    @Html.TextBox("totalWeight", null, new { @class = "form-control col-md-5", dir = "rtl", id = "totalWeight", placeholder = "مجموع وزن", style = "text-align:center;width:40%;" })
                </div>
                <div class="col-md-3">
                    @Html.Label("قیمت مواد :", htmlAttributes: new { @class = "control-label col-md-4", style = "margin-top:5px;" })
                    @Html.TextBox("hDPEPrice", null, htmlAttributes: new { @class = "form-control col-md-5", placeholder = "قیمت مواد اولیه", style = "text-align:center;width:50%;", id = "hDPEPrice" })
                </div>
                <div class="col-md-3">
                    @Html.Label("قیمت واشر ", htmlAttributes: new { @class = "control-label col-md-4", style = "margin-top:5px;" })
                    @Html.TextBox("WasherPrice", null, htmlAttributes: new { @class = "form-control col-md-5", placeholder = "قیمت واشر", style = "text-align:center;width:50%;", id = "washerPrice" })
                </div>
            </div>
        </div>
    </div>



    <div class="col-md-8 well ">

        <div class="col-md-12 form-group">
            @Html.Label("ضرب العجل دریافت محصول از سوی مشتری :  ", htmlAttributes: new { @class = "control-label col-md-4", style = "margin-top:5px;" })
            @Html.TextBox("DateToRecieve", null, htmlAttributes: new { @class = "form-control col-md-3", placeholder = "139x/xx/xx ", style = "text-align:center;width:20%;", id = "dateToRecieve" })

        </div>

        <div class="col-md-12 form-group">

            @Html.Label("توضیح در مورد محصول سفارشی ", htmlAttributes: new { @class = "control-label col-md-4", style = "margin-top:1%" })

            @Html.TextArea("Comments", null, new { @class = "form-control col-md-5", id = "orderItem_comments", style = "width:100%;" })


        </div>


    </div>





    @*<div>
            <div class="col-md-8 well" style="padding:-20px;">
                <div class="form-group">

                    @Html.Label("توضیحات", htmlAttributes: new { @class = "control-label col-md-4", style = "margin-top:1%" })

                    @Html.TextArea("Comments", null, new { @class = "form-control col-md-5", id = "comments", style = "width:100%;" })


                </div>
            </div>
        </div>*@





    <div class="form-group">
        <div>
            <input id="btnSubmit" type="submit" value="اضافه" class="btn btn-primary btn-block" />
        </div>
    </div>

}


<div style="padding-right:20px;padding-top:30px;">
    @Html.ActionLink("بازگشت به لیست سفارش ‌ها", "Index", null, new { style = "font-size:18px;" })
</div>



<script type="text/javascript">

    $("#amount").val("");
    $("#pricePerUnit").val("");
    $("#nominalWeightPerMeter").val("");
    //$("#totalWeight").val("");
    $("#hDPEPrice").val("");
    $("#washerPrice").val("");

    $(function () {
        $("#customer_name").autocomplete({
            source: '@Url.Action("Search", new { area="Commerce", controller="Customers" })',
            minLength: 2,
            select: function (event, ui) {
                showTel_CallerAddress(ui.item.value);
            }

        });
    });


    function showTel_CallerAddress(name) {

        $.ajax({
            type: "GET",
            url: "/Commerce/Customers/GetTelAndAddress/?name=" + name,
            async: false,
            dataType: "json",
            content: "application/json; charset=utf-8",
            success: function (data) {

                $("#customer_tel").val(data.tel);
                $("#customer_address").val(data.address);
                $("#customerIdHidden").val(data.id);
            }
        })
    }

</script>



