@using Neshagostar.DAL.DataModel.CommerceRelated.OrdersRelated
@model Neshagostar.DAL.DataModel.CommerceRelated.OrdersRelated.Order


@{
    ViewBag.Title = "Create";
}



<link href="~/Content/jquery-ui.css" rel="stylesheet">
<script src="~/Scripts/jquery-ui.js"></script>

<script src="~/Scripts/NeshagostarScripts/Commerce/OrdersRelated/CreateOrder.js" type="text/javascript"></script>

<h2 style="padding-right:0px;margin-bottom:2%">ثبت سفارش  </h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        @Html.Hidden("customerId", null, new { id = "customerId" })
        <div class="col-md-12 well" style="padding-left:30px;">
            <div class="form-group">
                <div class="col-md-4">
                    @Html.Label("نام خریدار", htmlAttributes: new { @class = "control-label col-md-4", style = "text-align:center;padding-top:5px" })
                    <div>
                        @Html.TextBox("CustomerName", "", new { @class = "form-control", dir = "rtl", id = "customer_name", style = "width:50%;" })
                    </div>

                </div>
                <div class="col-md-4">
                    @Html.Label("شماره تماس", htmlAttributes: new { @class = "control-label col-md-4", style = "text-align:center;;padding-top:5px" })
                    @Html.EditorFor(model => model.Customer.TelephoneNumber, new { htmlAttributes = new { @class = "form-control", dir = "rtl", id = "customer_tel", style = "width:50%;", @readonly="true" } })
                </div>
                <div class="col-md-4">
                    @Html.Label("محل", htmlAttributes: new { @class = "control-label col-md-4", style = "text-align:center;;padding-top:5px" })
                    @Html.EditorFor(model => model.Customer.City, new { htmlAttributes = new { @class = "form-control", dir = "rtl", id = "customer_city", style = "width:50%;", @readonly = "true" } })
                </div>

            </div>
        </div>
    </div>


    <div>

        <div class="col-md-12 well">
            <div class="form-group">
                <div class="col-md-5">
                    @Html.Hidden("productInputHidden", null, new { id = "productInputHidden" })

                    @Html.Label("نوع محصول", htmlAttributes: new { @class = "control-label col-md-3", style = "text-align:center;margin-top:5px;" })
                    @Html.TextBox("ProductInput", null, htmlAttributes: new { @class = "form-control col-md-7", onclick = "popUpProducts()", id = "productInput", placeholder = "نوع محصول", style = "width:70%;text-align:center;margin:0%;" })
                </div>

                <div class="col-md-3" style="padding:0%;margin:0px;">
                    @Html.Label("مقدار", htmlAttributes: new { @class = "control-label col-md-2", style = "margin-top:5px;" })
                    @Html.TextBox("amountInMeteres", null, htmlAttributes: new { @class = "form-control col-md-9", placeholder = "مقدار", style = "text-align:center;width:65%;", id = "amountInMeters", onkeyup = "calculateTotalWeight()" })
                </div>
                <div class="col-md-3" style="padding:0%;margin:0px;">
                    @Html.Label("قیمت به ازای واحد", htmlAttributes: new { @class = "control-label col-md-5", style = "margin-top:5px;" })
                    @Html.TextBox("pricePerMeter", null, new { @class = "form-control col-md-7", dir = "rtl", id = "pricePerMeter", placeholder = "قیمت به ازای واحد", style = "text-align:center;width:50%;" })
                </div>
            </div>
        </div>
    </div>


    <div>
        <div class="col-md-12 well">
            <div class="form-group">
                <div class="col-md-3">
                    @Html.Label("وزن در واحد ", htmlAttributes: new { @class = "control-label col-md-4", style = "margin-top:5px;" })
                    @Html.TextBox("nominalWeightPerMeter", null, htmlAttributes: new { @class = "form-control col-md-5", id = "nominalWeightPerMeter", placeholder = "وزن به ازای هر واحد", style = "width:50%;text-align:center;", onkeyup = "calculateTotalWeight()" })
                </div>
                <div class="col-md-3">
                    @Html.Label("مجموع وزن :", htmlAttributes: new { @class = "control-label col-md-4", style = "margin-top:5px;" })
                    @Html.TextBox("totalWeight", null, new { @class = "form-control col-md-5", dir = "rtl", id = "totalWeight", placeholder = "مجموع وزن", style = "text-align:center;width:40%;" })
                </div>
                <div class="col-md-3">
                    @Html.Label("قیمت مواد :", htmlAttributes: new { @class = "control-label col-md-4", style = "margin-top:5px;" })
                    @Html.TextBox("hDPEPrice", null, htmlAttributes: new { @class = "form-control col-md-5", placeholder = "قیمت مواد اولیه", style = "text-align:center;width:50%;", id = "hDPEPrice" })
                </div>
                <div class="col-md-3">
                    @Html.Label("قیمت واشر ", htmlAttributes: new { @class = "control-label col-md-4", style = "margin-top:5px;" })
                    @Html.TextBox("WasherPrice", null, htmlAttributes: new { @class = "form-control col-md-5", placeholder = "قیمت واشر", style = "text-align:center;width:50%; ", id = "washerPrice" })
                </div>
            </div>
        </div>
    </div>


    <div>
        <div class="col-md-8 well" style="padding:-20px;">
            <div class="form-group">

                @Html.Label("توضیحات", htmlAttributes: new { @class = "control-label col-md-4", style = "margin-top:1%" })

                @Html.TextArea("Comments", null, new { @class = "form-control col-md-5", id = "comments", style = "width:100%;" })


            </div>
        </div>
    </div>

    <div class="col-md-12">
        <button type="button" class="btn btn-block btn-success btn-lg" onclick="validateForm();">افزودن به لیست</button>
    </div>

    <div class="col-md-12" style="margin-top:2%">
        <div class="table table-hover">
            <table style="text-align:center;table-layout:auto;width:100%">
                <thead>
                    <tr>
                        <th style="text-align:center;">نوع محصول</th>
                        <th style="text-align:center;">مقدار</th>
                        <th style="text-align:center;">قیمت به ازای هر واحد</th>
                        <th style="text-align:center;">وزن به ازای هر واحد</th>
                        <th style="text-align:center;">قیمت به ازای هر کیلو</th>
                        <th style="text-align:center;">قیمت مواد اولیه روز</th>
                        <th style="text-align:center;">قیمت واشر</th>           
                        <th style="text-align:center;">قیمت نهایی</th>
                        <th>عملیات</th>
                    </tr>
                </thead>
                <tbody id="orderItemsClmns"></tbody>
            </table>
        </div>
    </div>

    <div class="col-md-12">
        <div class="table table-bordered">
            <table style="text-align:center;table-layout:fixed;width:100%">
                <thead style="text-align:center;">
                    <tr style="text-align:center;">
                        <th style="text-align:center;">
                            قیمت کل بدون ارزش افزوده
                        </th>
                        <th style="text-align:center;">
                            مقدار ارزش افزوده
                        </th>
                        <th style="text-align:center;">
                            قیمت نهایی
                        </th>
                        <th style="text-align:center;">
                            آیا ارزش افزوده دارد ؟
                        </th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="priceWithoutAddedCost"></td>
                        <td id="addedCost"></td>
                        <td id="finalPrice"></td>
                        <td id="isUsedFromInventory">
                            @Html.CheckBox("hasAddedCost", true, new { id = "hasAddedCost", onChange = "addedCostToggle(this)" })
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="form-group">
        <div>
            <button id="btnSubmit" type="button" value="Create" class="btn btn-primary btn-block" onclick="sendOrderItemsJson()">ایجاد سفارش</button>
        </div>
    </div>

}


<div style="padding-right:20px;padding-top:30px;">
    @Html.ActionLink("بازگشت به لیست تماس‌ها", "Index", null, new { style = "font-size:18px;" })
</div>


<script type="text/javascript">
    $(function () {
        $("#customer_name").autocomplete({
            source: '@Url.Action("Search", new { area="Commerce", controller="Customers" })',
            minLength: 2,
            select: function (event, ui) {
                showTel_CallerAddress(ui.item.value);
            }

        });
    });


    function showTel_CallerAddress(name) {

        $.ajax({
            type: "GET",
            url: "/Commerce/Customers/GetTelAndAddress/?name=" + name,
            async: false,
            dataType: "json",
            content: "application/json; charset=utf-8",
            success: function (data) {
                $("#customer_name").val(name);
                $("#customer_tel").val(data.tel);
                $("#customer_city").val(data.city);
                $("#customerId").val(data.id);
            }
        })
    }

</script>
