@model Neshagostar.DAL.DataModel.CallManagement.RecievedCall

@{
    ViewBag.Title = "Delete";
}

<h2>حذف</h2>

<h3>آیا اطلاعات تماس دریافتی حذف شود ؟</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Caller.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Caller.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayName("بخش مربوطه")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Name)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-default" /> |
            @Html.ActionLink("بازگشت به لیست", "Index")
        </div>
    }
</div>
